<!DOCTYPE html>
<html>

<head>
  <script>
    function subst() {
      var vars = {};
      var query_strings_from_url = document.location.search.substring(1).split('&');
      for (var query_string in query_strings_from_url) {
        if (query_strings_from_url.hasOwnProperty(query_string)) {
          var temp_var = query_strings_from_url[query_string].split('=', 2);
          vars[temp_var[0]] = decodeURI(temp_var[1]);
        }
      }
      var css_selector_classes = ['page', 'frompage', 'topage', 'webpage', 'section', 'subsection', 'date', 'isodate', 'time', 'title', 'doctitle', 'sitepage', 'sitepages'];
      for (var css_class in css_selector_classes) {
        if (css_selector_classes.hasOwnProperty(css_class)) {
          var element = document.getElementsByClassName(css_selector_classes[css_class]);
          for (var j = 0; j < element.length; ++j) {
            element[j].textContent = vars[css_selector_classes[css_class]];
          }
        }
      }
    }
  </script>

  <style media="print">

      body{
          font-size: 12pt;
          font-family: 'Calibri';
      }
    table.header {
      border-collapse: collapse;
    }

    table.header tr{
        height : 7.5mm;
        box-sizing: border-box;
    }

    table.header tr td,
    table.header tr th {
      border: 1px solid black;
      padding : 0.25em;
    }
  </style>

</head>

<body style="border:0; margin: 0mm; padding: 0mm;" onload="subst()">
  <table class="header" style="border: 0px solid black; width: 100%">
    <tr>
      <td style="width:50%" rowspan="2">
        <span>{{ context_header['title'] }}</span>
      </td>
      <td style="width:25% text-align: left">
        <span>{{ context_header['doc_no'] }}</span>
      </td>
      <td style="width:25% text-align: right">
        Rev <span> {{ context_header['rev'] }} </span>
      </td>
    </tr>
    <tr>
      <td>
        Date : {{ context_header['date'] }}
      </td>
      <td>
        Page <span class="page"></span> of <span class="topage"></span>
      </td>
    </tr>
  </table>
</body>

</html>
