{% extends "base.html" %}
{% block title %}codecalculation.com: Home{% endblock title %}

{% block meta_description %}
codecalculation.com aims at supporting engineers in chemical/hydrocarbon process industries with online engineering calculations, property databases
and tables, technical articles and equipment directory services. Use these calculations through your browser or using REST API calls.
{% endblock meta_description %}

{% block meta_keywords %}
Engineering Calculations mechanical process electrical instrumentation civil custom units Oil and Gas Chemical Process Hydrocarbon
{% endblock meta_keywords %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="content" style="width:100%">
          <h1 class="title is-4"> Engineering Calculations and Resources</h1>
          <blockquote>
            <p><span class="is-size-5"> codecalculation.com </span> aims at supporting engineers in process industries with online calculations, sizing and estimation tools and property databases. The calculation tools available provide full flexibilty to user, by providing the option to save and reload the input data, change the units and generate PDF file reports with user defined document numbers and titles.
            </p>
            <br/>
            <p>
              Expect to see more and more of calculations incorporated in future. In case you have a feedback/suggestion on existing calculation or wish to see a calculation hosted here, please drop in an email to <a href="mailto://contact@codecalculation.com"> contact@codecalculation.com </a>.
            </p>
            <footer>
              — <cite>
                <a href="//www.linkedin.com/in/sandeep-raheja/">Sandeep Raheja</a>
              </cite> <br>
              <cite>
                <i>&nbsp;&nbsp;&nbsp;&nbsp;Creator  www.codecalculation.com</i>
              </cite>

            </footer>
          </blockquote>
          <hr/>

          <p>

          </p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <h2 class="title is-5">Process</h2>
            <div class="content">
              Calculations include thermophysical property database for various chemical substances, water and steam, hydrocarbon mixtures, pressure drop calculations and equipment sizing calculations.
            </div>
          </div>
          <footer class="card-footer">
            <a href="/calculations/process/" class="card-footer-item">Explore</a>
          </footer>
        </div>
      </div>
      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <h2 class="title is-5">Mechanical</h2>
            <div class="content">
              Calculations include getting sizing estimates for pumps, Hydraulic Institute pump viscosity correction calculation, compressor sizing and staging calculations, gas turbine site deration, steam turbine performance calculation, air property and psychrometric
              calculations, pipe dimensions lookup etc.
            </div>
          </div>
          <footer class="card-footer">
            <a href="/calculations/mechanical/" class="card-footer-item">Explore</a>
          </footer>
        </div>
      </div>
      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <h2 class="title is-5">Electrical</h2>
            <div class="content">
              Calculations include cable sizing calculations as per IEC 30634, lighting related calculations involving conversion between photometric quantities (candela, lumens, lux and watts), motor starting time estimation, power factor compensation, three phase
              system parameters calculation etc.
            </div>
          </div>
          <footer class="card-footer">
            <a href="/calculations/electrical/" class="card-footer-item">Explore</a>
          </footer>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <h2 class="title is-5">Instrumentation</h2>
            <div class="content">
              Calculations include sizing of relief valves in liquid, gas and steam service as per API 521 and sizing of control valves in liquid and gas service.
            </div>
          </div>
          <footer class="card-footer">
            <a href="/calculations/instrumentation/" class="card-footer-item">Explore</a>
          </footer>
        </div>
      </div>
      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <h2 class="title is-5">Civil/Structural</h2>
            <div class="content">
              Upcoming.
            </div>
          </div>
            <footer class="card-footer">
              <span class="card-footer-item">Explore</span>
            </footer>
          </div>
      </div>
    </div>
  </div>
  </div>
</section>
{% endblock content %}
