{% extends "base.html" %}
{% block title %}Engineering Calculations{% endblock %}


{% block meta_description %}

Common engineering calculations in process, mechanical, instrumentation, electrical and civil disciplines in the chemical/hydrocarbon/oil and gas industries.

{% endblock meta_description %}

{% block meta_keywords %}Calculations mechanical process electrical instrumentation civil custom units Oil and Gas Chemical Process Hydrocarbon {% endblock meta_keywords %}


{% block content %}
<div class="section">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="/">Home</a></li>
        <li class="is-active"><a href="#">Calculations</a></li>
      </ul>
    </nav>
    <div class="box">
      <h4 class="title is-4">Calculations</h4>
    </div>
    <div class="box">
      <div class="content">
        <ul>
          <li style="margin-top:0.5em;"><a href="/calculations/process/">Process</a></li>
          <li style="margin-top:0.5em;"><a href="/calculations/mechanical/">Mechanical</a></li>
          <li style="margin-top:0.5em;"><a href="/calculations/electrical/">Electrical</a></li>
          <li style="margin-top:0.5em;"><a href="/calculations/instrumentation/">Instrumentation</a></li>
          <li style="margin-top:0.5em;">Civil/Structural</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
